body{
  zoom: -2;
}

.main{
  position: relative;
}

.piso{
  height: 12em;
  border: solid 1px #ccc;
  position: relative;
}

.piso .nivel{
  position: absolute;
}

.piso .gates {
  background: url('images/base.jpg') no-repeat center center;
  background-size: contain;
  position: relative;
  height: 100%;
  margin: auto;
  width: 8em;
}

.piso .gates > *{
  position: absolute;
  height: 60%;
  width: 28.1%;
  background-size: cover;
  top: 21%;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

.piso .gates.abierto > *{
  width: 0;
}

.piso .left{
  background-image: url('images/left.jpg');
  left: 22%; 
}

.piso .right{
  background-image: url('images/right.jpg');
  right: 22%; 
}

.piso .control{
  position: absolute;
  top: 40%;
  height: 20%;
  width: 1em;
}

.ascensor{
  height: 12em;
  width: 6em;
  position: absolute;
  right: 16%;
  background: #ccc;
  bottom: 0;
}

.controller{
  border: solid 1px;
  padding: 1em;
  text-align: center
}